SPARK_MASTER_HOST='spark://spark-master:7077'

AGGREGATION_WINDOW_DAYS=1095
PROXIMITY_METERS=5000
LATTITUDE_TOP=30.66489757647602
LATTITUDE_BOTTOM=16.065200675506453
LONGITUDE_LEFT=26.826989782652404
LONGITUDE_RIGHT=38.376462723189036

OBIS_PARQUET_URL='https://obis-datasets.ams3.digitaloceanspaces.com/exports/obis_20231025.parquet'
OBIS_PARQUET_SHA256='b35447f1564e82fc771bd9b259316558b3734db623cae39d4c613125d89c77fd'

BASE_PADI_GUIDE_URL = "https://travel.padi.com/api/v2/travel/dive-guide/world/all/dive-sites/"
BASE_PADI_MAP_URL = "https://travel.padi.com/api/v2/travel/dsl/dive-sites/map/"